/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  margin: 0;
  font-family: roboto ,sans-serif;
}

h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 479px) {
  .container {
    width: 100%;
    padding: 60px 15px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 480px;
    padding: 60px 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
    padding: 60px 15px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 94px 15px;
  }
}

.head-container {
  position: relative;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 0;
}

@media screen and (min-width: 480px) {
  .head-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 480px) {
  .head-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .head-container {
    width: 768px;
    margin-right: auto;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .head-container {
    width: 1200px;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: auto;
    margin-left: auto;
  }
}

.main-nav-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: auto;
  margin-right: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 24px;
  height: 16px;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  outline: none;
  border: none;
}

.main-nav-button:focus {
  fill: #2196F3;
}

.main-nav-button svg {
  width: 24px;
  height: 16px;
}

.main-nav-button .icon-close {
  display: none;
}

.main-nav-button.is-open .icon-close {
  display: block;
}

.main-nav-button.is-open .icon-menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .main-nav-button {
    display: none;
  }
}

.main-nav {
  display: none;
}

@media screen and (max-width: 767px) {
  .main-nav {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .main-nav.is-open {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    display: block;
    background-color: #FFFFFF;
    border: 1px solid #ECECEC;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
}

@media screen and (min-width: 768px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-left: 88px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-left: 93px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.nav-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  margin-top: 2px;
}

.nav-tel {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.logo-web {
  color: #2196F3;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .logo-web {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
  }
}

.logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #212121;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
  }
}

@media screen and (max-width: 767px) {
  .nav-list {
    width: 100%;
    padding-bottom: 60px;
  }
  .nav-list :nth-child(2) {
    margin-top: 52px;
    margin-bottom: 40px;
  }
  .nav-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navigation {
  position: relative;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .navigation {
    margin-left: auto;
    margin-right: auto;
  }
}

.navigation:hover {
  color: #2196F3;
}

.navigation:focus {
  color: #2196F3;
  outline: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .navigation {
    margin-right: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation {
    margin-right: 50px;
  }
}

.current {
  color: #2196F3;
}

.current::before {
  display: inline-block;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
  left: 0;
  bottom: 0;
}

@media screen and (max-width: 767px) {
  .current::before {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .current::before {
    -webkit-transform: translateY(32px);
            transform: translateY(32px);
  }
}

@media screen and (min-width: 1200px) {
  .current::before {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
}

@media screen and (max-width: 767px) {
  .nav-contact li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .nav-contact li :first-child {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .nav-contact li:last-child {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .nav-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-contact li:last-child {
    margin-left: 50px;
  }
}

.navigation-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  color: #757575;
  fill: #757575;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-contact:hover {
  color: #2196F3;
  fill: #2196F3;
}

.navigation-contact:focus {
  color: #2196F3;
  fill: #2196F3;
  outline: none;
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .navigation-contact {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

@media screen and (min-width: 1200px) {
  .navigation-contact {
    font-size: 14px;
    line-height: 16px;
  }
}

.hero {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.3)), to(rgba(47, 48, 58, 0.3))), url(./../images/Heade.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.3), rgba(47, 48, 58, 0.3)), url(./../images/Heade.jpg);
  background-color: #2F303A;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (min-width: 480px) and (max-width: 479px) {
  .hero {
    width: 100%;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    width: 100%;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero-item {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #FFFFFF;
  font-family: Roboto;
  font-style: normal;
  text-align: center;
  line-height: 42px;
  text-transform: uppercase;
}

@media screen and (min-width: 480px) {
  .hero-item {
    width: 390px;
    font-weight: 900;
    font-size: 26px;
    letter-spacing: 0.06em;
  }
}

@media screen and (min-width: 768px) {
  .hero-item {
    width: 390px;
    font-weight: 900;
    font-size: 26px;
    letter-spacing: 0.06em;
  }
}

@media screen and (min-width: 1200px) {
  .hero-item {
    width: 696px;
    padding-left: 45px;
    padding-right: 45px;
    letter-spacing: 0.06em;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
  }
}

.hero-button {
  margin-top: 30px;
  padding: 10px 32px;
}

.section {
  background-color: #FFFFFF;
}

.advantage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 479px) {
  .advantage {
    width: 100%;
    padding: 30px 15px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .advantage {
    width: 480px;
    padding: 30px 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantage {
    width: 768px;
    padding: 30px 0px;
    margin: -15px 0px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .advantage {
    width: 1200px;
    padding: 30px 0px;
    margin: -15px 0px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 479px) {
  .advantage-list {
    width: 100%;
    min-width: 270px;
    margin: 30px 0px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .advantage-list {
    width: 100%;
    margin: 30px 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantage-list {
    margin: 15px;
    width: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .advantage-list {
    margin: 15px;
    width: calc(100% /4 - 30px);
  }
}

.advantage-list-icon {
  height: 120px;
  background-color: #F5F4FA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  margin-bottom: 30px;
}

@media screen and (max-width: 479px) {
  .advantage-list-icon {
    width: 100%;
  }
}

.advantage-icon {
  display: inline-block;
}

.advantage-item {
  font-family: Roboto;
  color: #212121;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .advantage-item {
    display: block;
    text-align: center;
  }
}

.advantage-text {
  margin-top: 10px;
  margin-bottom: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.section-work {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
  padding: 94px 15px;
}

@media screen and (max-width: 1199px) {
  .section-work {
    display: none;
  }
}

.working-box {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.working-item {
  position: relative;
  height: 294px;
  width: 370px;
}

.working-solution {
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.section-team {
  background-color: #F5F4FA;
}

@media screen and (max-width: 1199px) {
  .section-team h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0.03em;
  }
}

@media screen and (max-width: 479px) {
  .section-card {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .section-card {
    width: 480px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-card {
    width: 768px;
    margin-top: 30px;
    margin-left: -15px;
    margin-right: -15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .section-card {
    width: 1200px;
    margin-top: 50px;
    margin-left: -15px;
    margin-right: -15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.profi-card {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #FFFFFF;
}

@media screen and (max-width: 479px) {
  .profi-card {
    width: 100%;
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .profi-card {
    width: 100%;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .profi-card {
    width: calc(100% / 2 - 30px);
    margin: 15px;
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .profi-card {
    width: calc(100% / 4 - 30px);
    margin: 0px 15px;
    padding-bottom: 30px;
  }
}

.profi-card img {
  width: 100%;
  height: auto;
}

.proffesion h4 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.proffesion p {
  margin-top: 0;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.social-link-icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #AFB1B8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover {
  fill: #FFFFFF;
  background-color: #2196F3;
}

.social-link:focus {
  fill: #FFFFFF;
  background-color: #2196F3;
  outline: none;
}

@media screen and (max-width: 1199px) {
  .sektion-klient h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0.03em;
  }
}

@media screen and (max-width: 479px) {
  .klient {
    width: 100%;
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .klient {
    width: 100%;
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .klient {
    width: 100%;
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .klient {
    margin-top: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 479px) {
  .klient-item {
    width: 100%;
    width: calc(100% / 2 - 30px);
    margin: 15px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .klient-item {
    width: 100%;
    width: calc(100% / 2 - 30px);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .klient-item {
    width: 768px;
    width: calc(100% / 3 - 30px);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .klient-item {
    width: 1200px;
    width: calc(100% / 6 - 30px);
    margin: 15px;
    margin-bottom: 0;
  }
  .klient-item:first-child {
    margin-left: 0;
  }
  .klient-item:last-child {
    margin-right: 0;
  }
}

.klient-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 479px) {
  .klient-link {
    width: 100%;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .klient-link {
    width: 100%;
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .klient-link {
    width: 100%;
    max-width: 480px;
  }
}

@media screen and (min-width: 1200px) {
  .klient-link {
    width: 100%;
    max-width: 480px;
  }
}

.klient-link:hover {
  border: 1px solid #2196F3;
  fill: #2196F3;
}

.klient-link:focus {
  border: 1px solid #2196F3;
  fill: #2196F3;
  outline: none;
}

.portfolio-project {
  background-color: #FFFFFF;
}

.port-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #ECECEC;
  padding-top: 93px;
  padding-bottom: 56px;
  padding-left: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

.button-radio {
  margin-right: 8px;
  padding-left: 22px;
  padding-right: 22px;
  height: 38px;
  background-color: #F5F4FA;
  color: var(--link-color);
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-radio:hover {
  background-color: #2196F3;
  color: #FFFFFF;
  border: none;
}

.button-radio:focus {
  background-color: #2196F3;
  color: #FFFFFF;
  border: none;
}

.works-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin-top: 0;
  margin-bottom: 94px;
}

.works {
  display: block;
  height: 404px;
  width: 370px;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.works h2 {
  display: inline-block;
  margin-top: 20px;
  margin-left: 24px;
  background-color: v #FFFFFF;
  color: #212121;
  text-align: left;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.works > p {
  margin-left: 24px;
  margin-bottom: 20px;
  color: #757575;
  background-color: #FFFFFF;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
}

.works:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: none;
}

.works:focus .overlay {
  bottom: 0;
}

.work-link {
  margin: 15px;
  height: 404px;
  width: 370px;
  border: 1px solid #EEEEEE;
}

.work-img {
  display: block;
  position: relative;
  height: 294px;
  width: 370px;
  background-color: crimson;
  overflow: hidden;
}

.work-img:hover .overlay {
  bottom: 0;
}

.overlay {
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition-property: bottom;
  transition-property: bottom;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-item {
  position: absolute;
  display: block;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 63px;
  margin-bottom: 63px;
  background-color: rgba(33, 150, 243, 0.9);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.navigation {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.hero-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #2196F3;
  color: #FFFFFF;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
}

@media screen and (max-width: 479px) {
  width: 100%;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  width: 480px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  width: 768px;
}

@media screen and (min-width: 1200px) {
  width: 1200px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 527px) and (max-height: 625px) {
  .backdrop {
    overflow-y: scroll;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  width: 528px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  padding: 8px 8px 40px 40px;
}

.modal-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: auto;
  width: 30px;
  height: 30px;
  padding: 9px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: auto;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover {
  fill: #2196F3;
}

.form-container {
  margin-right: 32px;
  position: relative;
}

@media screen and (max-width: 528px) {
  .form p {
    text-align: center;
  }
}

.form p {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 2px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
}

.form-label {
  display: block;
  margin-bottom: 4px;
  margin-top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-input {
  display: block;
  width: 100%;
  padding: 14px;
  padding-left: 35px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .modal-ikon {
  fill: #2196F3;
}

.form-input:focus {
  border: 1px solid #2196F3;
  outline: none;
}

.modal-ikon {
  position: absolute;
  left: 15px;
  bottom: calc(50% - 15px);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea {
  display: block;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
}

textarea:focus {
  border: 1px solid #2196F3;
  outline: none;
}

.checkbox {
  position: relative;
  display: block;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.checkbox a {
  color: #2196F3;
  text-decoration: underline;
}

.check {
  margin-right: 7px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.check:checked ~ .icon-check {
  background-image: url(../../images/check.svg);
  background-position: center;
  background-size: contain;
  border: 2px solid #2196F3;
  outline: #2196F3;
  background-origin: border-box;
}

.check:focus:checked ~ .icon-check {
  background-image: url(../../images/check.svg);
  background-position: center;
  background-size: contain;
  border: 2px solid #2196F3;
  outline: #2196F3;
  background-origin: border-box;
}

.icon-check {
  position: absolute;
  left: 20px;
  top: 3px;
  display: block;
  height: 15px;
  width: 16px;
  border: 2px solid #212121;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition-property: background-image;
  transition-property: background-image;
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.button-modal-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-modal-submit {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  background-color: #2196F3;
}
/*# sourceMappingURL=main.css.map */