$link-color: #212121;
$text-color: #757575;
$link-color-origin: #2196F3;
$white-color: #FFFFFF;
$footer-text-color: rgba(255, 255, 255, 0.6);
$footer-back-color: rgba(255, 255, 255, 0.1);
$hero-back-color: #2F303A;
$icon-fill: #AFB1B8;
$background-color: #F5F4FA;
$footer-color: #2F303A;






