.hero {

    display: block;
    max-width: 1600px;
    min-width: 1200px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right,rgba(47, 48, 58, 0.3),  rgba(47, 48, 58, 0.3)), url(./../images/Heade.jpg);
    background-color: $hero-back-color;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &-item {
        display: block;
        width: 696px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 45px;
        padding-right: 45px;
        color: $white-color;
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        text-align: center;
        text-transform: uppercase;
    }

    &-button {
        margin-top: 30px;
        @extend %button-text;
        padding: 10px 32px;
    }

}
