.hero {

    display: block;
    margin-left: auto;
    margin-right: auto;
    
    background-image: linear-gradient(to right,rgba(47, 48, 58, 0.3),  rgba(47, 48, 58, 0.3)), url(./../images/Heade.jpg);
    @media screen and (max-width: 479px) {
        width: 100%;
        @media (min-resolution: 1dppx) {
            background-image: linear-gradient(to right,rgba(47, 48, 58, 0.3),  rgba(47, 48, 58, 0.3)), url(./../images/Header-imgmobi1x.jpg)
        }
        @media (min-resolution: 2dppx) {
            background-image: linear-gradient(to right,rgba(47, 48, 58, 0.3),  rgba(47, 48, 58, 0.3)), url(./../images/Header-imgmobi2x.jpg)
        }
        @media (min-resolution: 3dppx) {
            background-image: linear-gradient(to right,rgba(47, 48, 58, 0.3),  rgba(47, 48, 58, 0.3)), url(./../images/Header-imgmobi3x.jpg)
        }
       
        }
        @media screen and(min-width: 480px) and (max-width: 767px){
            @media (min-resolution: 1dppx) {
                background-image: linear-gradient(to right,rgba(47, 48, 58, 0.3),  rgba(47, 48, 58, 0.3)), url(./../images/Header-imgtab1x.jpg)
            }
            @media (min-resolution: 2dppx) {
                background-image: linear-gradient(to right,rgba(47, 48, 58, 0.3),  rgba(47, 48, 58, 0.3)), url(./../images/Header-imgtab2x.jpg)
            }
            @media (min-resolution: 3dppx) {
                background-image: linear-gradient(to right,rgba(47, 48, 58, 0.3),  rgba(47, 48, 58, 0.3)), url(./../images/Header-imgtab3x.jpg)
            }
        }
        @media screen and(min-width: 768px) {
            @media (min-resolution: 1dppx) {
                background-image: linear-gradient(to right,rgba(47, 48, 58, 0.3),  rgba(47, 48, 58, 0.3)), url(./../images/Imgdesk1x.jpg)
            }
            @media (min-resolution: 2dppx) {
                background-image: linear-gradient(to right,rgba(47, 48, 58, 0.3),  rgba(47, 48, 58, 0.3)), url(./../images/Imgdesk2x.jpg)
            }
            @media (min-resolution: 3dppx) {
                background-image: linear-gradient(to right,rgba(47, 48, 58, 0.3),  rgba(47, 48, 58, 0.3)), url(./../images/Imgdesk3x.jpg)
            }  
        }
  
     background-color: $hero-back-color;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 118px;
    padding-bottom: 118px;

    @media screen and ( min-width: 480px ) and (max-width:479px) {
        width: 100%;
        padding-top: 118px;
        padding-bottom: 118px;

     }
     @media screen and (min-width: 768px) {
         width: 100%;
         padding-top: 118px;
         padding-bottom: 118px;
     }
     @media screen and (min-width: 1200px) {
         max-width: 1600px;
        // width: 1200px;
        padding-top: 200px;
        padding-bottom: 200px;
        }
        
    


    &-item {
        display: block;
        margin-left: auto;
        margin-right: auto;
        color: $white-color;
        font-family: Roboto;
        font-style: normal;
        text-align: center;
        line-height: 42px;
        text-transform: uppercase;
        

        @media screen and ( min-width: 480px ) {
            width: 390px;
            font-weight: 900;
            font-size: 26px;
           
            letter-spacing: 0.06em;    
         }
         @media screen and (min-width: 768px) {
            width: 390px;
            font-weight: 900;
            font-size: 26px;
           
            letter-spacing: 0.06em;  
         }
         @media screen and (min-width: 1200px) {
            width: 696px;

            padding-left: 45px;
            padding-right: 45px;
            letter-spacing: 0.06em; 

            font-weight: 900;
            font-size: 44px;
            line-height: 60px;

            }
       
    }

    &-button {
        margin-top: 30px;
        @extend %button-text;
        padding: 10px 32px;
    }

}
